*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

body{
	
	font-family:  'Open Sans', sans-serif;
}

.login-form{
	position: relative;
	min-height: 100hv;
	z-index: 0;
	background:#f51808;
	padding: 40px;
	justify-content: center;
	display: grid;
	grid-template-rows: 1fr auto 1fr;
	align-items: center;

}

.container{
	max-width: 800px;
	margin: 0 auto;
}

.login-form h1{
	text-align: center;
	font-size: 2.5em;
	font-weight: 400;
	color: #fff;
}
.login-form .logo{
	align-content: left;
	width: 90%;
	margin: 10px 10px 10px 10px;

}


.login-form .main{
	position: relative;
	display: flex;
	margin: 30px 0;
}

.content{
	flex-basis: 50%;
	background: #fff;
	box-shadow: 2px 9px 49px -17px rgba(0,0,0,0.1)
	padding: 3px 3px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	margin-left: 10px;
}

.form-img{
	flex-basis: 50%;
	background: #FAFAD2;
	background-size: cover;
	padding: 40px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	align-items: center;
}

.form-img img{
	max-width: 100%;
}
p{
	color: #666;
	font-size: 16px;
	line-height: 25px;
	opacity: 0.6;
	text-align: center;
}

.btn,
button,
input{
	border-radius: 35px;

}

.btn:hover,
button:hover{
	transition: 0.5s ease;
}

a{
	text-decoration: none;
}

.login-form form{
	margin:30px 0;
}

.login-form input{
	outline: none;
	margin: 10px 20px 10px 20px;
	padding-left: 10px
	font-stretch: 16px;
	color: #999;
	text-align: left;
	padding: 14px 20px;
	width: 90%;
	display: inline-block;
	box-sizing: border-box;
	border:1px solid  #f51808;
	background: #FAFAD2;
	transition: 0.3s ease;
}

.login-form input:focus{
	background: transparent;
	border: 1px transparent  #f51808;
}

.login-form button{
	font-size: 18px;
	color: #fff;
	width: 90%;
	background:  #f51808;
	border: none;
	padding: 14px 15px;
	font-weight: 500;
	transition: 0.3s ease;
	margin: 20px 20px 10px 20px;
}

.login-form button:hover{
	background: black;
}


/*------------------*/

@media(max-width: 736px){
	.login-form .main{
		flex-direction: column;
	}
	.login-form form{
		margin-top: 30px;
		margin-bottom: 10px;
	}
	.form-img{
		border-radius: 0;
		margin-left: 10px;
		
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		order: 2;
	}
	.content{
		order: 1;
		border-radius: 0;
		border-top-left-radius: 8px;
		border-top-right-radius: 8px;
	}
}