@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

.container .table{
    align-content: center;
    border-color: #252f38;
    background-color:grey;
    width: 100%; 
    box-shadow: 10px 10px 5px grey;
    line-height: 30px;
    color: black;
    border-width: 1px;
    margin-bottom: 20px;
}


.tableview{
    display: inline-block;
    float: left;
    margin-left: 5px;
    width: 100%;
}


.table .btn1 {
  display: inline-block;
  border: 1px solid white;
  background-color: #009E60;
  border-radius: 20px;
  margin: 5px;
  margin-left: 5px;
  padding: 10px 10px 10px 10px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  width: 80px;
}

.table .btn{
  display: inline-block;
  border: 1px solid white;
  background-color: #f51808;
  border-radius: 20px;
  margin: 5px;
  margin-left: 5px;
  padding: 10px 10px 10px 10px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  width: 80px;
}

.table tr td a:hover{
  opacity: 0.7;
  cursor: pointer;
}


td{
    text-align: center;
    background-color: #DCDCDC;
    margin-top: 5px;
    padding: 5px 5px 5px 5px;
}



@media(max-width: 736px){
	.container table {
  width: 92%;
  margin-left: 0px;
  }
	
  .tableview{
  display: inline-block;
  float: left;
  margin-left: 0px;
  width: 92%;
  }

  .table .btn{
  display: inline-block;
  border: 1px solid white;
  background-color: #f51808;
  border-radius: 20px;
  margin: 5px;

  padding: 10px 10px 10px 10px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  width: 40px;
}
.table .btn1 {
  display: inline-block;
  border: 1px solid white;
  background-color: #009E60;
  border-radius: 20px;
  margin: 5px;
  
  padding: 10px 10px 10px 10px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  width: 40px;
}


}
